@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/satoshi/Satoshi-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/satoshi/Satoshi-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/satoshi/Satoshi-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/satoshi/Satoshi-Black.otf");
  font-weight: 900;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/inter/Inter-Bold.ttf");
  font-weight: 700;
}